/*author:starttemplate*/
/*reference site : starttemplate.com*/
body {
    background-image:url('../img/fondoLogin.jpeg');
    background-position:center;
    background-size:cover;
    
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive!important;
  }
  
  .container {
      padding: 110px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ffffff!important;
      opacity: 1; /* Firefox */
      font-size:18px!important;
  }
  .form-login {
      background-color: rgba(0,0,0,0.55);
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      border-color:#d2d2d2;
      border-width: 5px;
      color:white;
      box-shadow:0 1px 0 #cfcfcf;
  }
  .form-control{
      background:transparent!important;
      color:white!important;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .form-login{
      width: 300px;
      height: 275px;
  }

  .contenedor-form{
      display: flex;
      justify-content: center;
  }

  form input{
      width: 90%;
      height: 30px;
  }
  h1{
      color:white!important;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
  }
  h4 { 
   border:0 solid #fff; 
   border-bottom-width:1px;
   padding-bottom:10px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
  }
  
  .form-control {
      border-radius: 10px;
  }
  .text-white{
      color: black!important;
  }
  .wrapper {
      text-align: center;
  }
  .footer p{
      font-size: 18px;
  }
.boton{
    margin-top: 20px;
    background-color: black;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    transition: 0.7s;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.boton:hover{
    text-decoration: none;
    color: white;
    background-color:  #424949;
}

.wrapper{
    font-size: 40px;
}
