body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/** Header **/
.header {
    background-image: url(../img/fondoSecrejpeg.jpeg);
}
.no-webp .header {
    background-image: url(../img/fondoSecrejpeg.jpeg);
}
.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto {
   text-align: center;
   color: var(--blanco);
   margin-top: 5rem;
}

.barra{
    display: flex;
    background-color: black;
}

.logo{
   margin-left: 30px;
   color: white;
   text-decoration: none;

}

.navegacion{
    margin-top: 25px;
    margin-left: 550px;
}

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
    transition: 0.4s;
}

.navegacion a:hover{
    color:  #abb2b9;
}

.header__texto h2{
font-size: 50px;
}

/*ESTILO FORMULARIOS*/

.formulario{
    display: flex;
    justify-content: center;
}
.formulario form{
    background-color: white;
    color: black;
    width: 600px;
    height: 250px;
    padding:15px;
    border-radius: 3%;
    border-bottom:2px solid black;
}

.formulario form input{
    border:none;
    border-bottom:3px solid black;
    width: 90%;
    height: 25px;
    margin-bottom: 5px;
}


.boton a{
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding:5px 15px;
}

.boton{
    margin-top: 10px;
}

/*TABLA*/
.tabla{
    display: flex;
    justify-content: center;
}

.tabla table{
    background-color: white;
    width: 700px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border-radius: 3%;
    border-bottom: 3px solid black;
}

.tabla table td .editar{
    color: #2874a6;
    font-weight: bold;
    text-decoration: none;
    margin-right: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.eliminar{
    color: #a93226;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

