<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloIngresarUsuario.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="./moduloAdministrador.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo<span class="logo__bold">Administrador</span></h1>
                </a>

                <nav class="navegacion">
                   
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Asignar Usuario</h2>
            <div class="formulario">
                <div class="contenedor-form">
                         <form>
                        <input id="usuario" type="text" placeholder="Ingrese Usuario">
                        <br/><br/>
                        <input id="password" type="text" placeholder="Ingrese Contraseña">
                        <br/><br/>
                        <input id="tipo" type="text" placeholder="Ingrese Tipo de Empleado">
                        <br/><br/>
                        <input id="dpi" type="number" placeholder="Ingrese DPI de Empleado">
                        <br/><br/>
                    </form>
                    <div class="boton">
                        <a href="#" id="boton">Ingresar Usuario</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="../js/agregarUsuario.js"></script>
</body>
</html>