<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloIngresarUsuario.css">
    <link type="text/css" rel="stylesheet" href="../css/normalize.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="./moduloAdministrador.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo <span
                            class="logo__bold">Administración</span>
                    </h1>
                </a>

                <nav class="navegacion">
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Actualizar Datos de Médico</h2>
            <div class="formulario">
                <div class="contenedor-form">
                    <form>
                        <input type="text" placeholder="Ingrese Nombre">
                        <br /><br />
                        <input type="text" placeholder="Ingrese Apellido">
                        <br /><br />
                        <input type="number" placeholder="Ingrese Teléfono">
                        <br /><br />
                    </form>
                    <div class="boton">
                        <a href="#">Actualizar Datos</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>