<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloIngresarUsuario.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="./moduloAdministrador.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo<span
                            class="logo__bold">Administracion</span></h1>
                </a>

                <nav class="navegacion">
                   
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Ingresar Empleado</h2>
            <div class="formulario">
                <div class="contenedor-form">
                         <form>
                        <input id="dpi" type="number" placeholder="Ingrese DPI">
                        <br/><br/>
                        <input id="nombre" type="text" placeholder="Ingrese Nombre">
                        <br/><br/>
                        <input id="apellido" type="text" placeholder="Ingrese Apellido">
                        <br/><br/>
                        <input id="telefono" type="number" placeholder="Ingrese Teléfono">
                        <br/><br/>
                        <input id="correo" type="email" placeholder="Ingrese Correo">
                        <br/><br/>
                    </form>
                    <div class="boton" id="boton">
                        <a href="#">Ingresar Empleado</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="../js/ingresarEmpleado.js"></script>
</body>

</html>