<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloSecretaria.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="./moduloSecretaria.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo <span class="logo__bold">Secretaría</span>
                    </h1>
                </a>

                <nav class="navegacion">
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Ingresar Examen</h2>
            <div class="formulario">
                <div class="contenedor-form">
                    <form>
                        <input id="cui" type="number" placeholder="Ingrese CUI Paciente">
                        <br /><br />
                        <input id="fecha" type="date" placeholder="Ingrese Fecha de Examen">
                        <br /><br />
                        <input id="medico" type="text" placeholder="Codigo de Medico de Referencia">
                        <br /><br />
                        <input id="tipo" type="text" placeholder="Ingrese Tipo de Examen">
                        <br /><br />
                    </form>
                    <div class="boton">
                        <a id="boton" class="boton" href="#">Ingresar Examen</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="../js/ingresarExamen.js"></script>
</body>

</html>