body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/** Header **/
.header {
    background-image: url(../img/fondoLab.jpeg);
}
.no-webp .header {
    background-image: url(../img/fondoLab.jpeg);
}
.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto {
   text-align: center;
   color: var(--blanco);
   margin-top: 5rem;
}

.barra{
    display: flex;
    background-color: black;
}

.logo{
   margin-left: 30px;
   color: white;
   text-decoration: none;

}

.navegacion{
    margin-top: 30px;
    margin-left: 550px;
}

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
}

.navegacion a:hover{
    color:  #abb2b9;
    ;
}

.header__texto h2{
font-size: 50px;
}


/*ESTILO FORMULARIOS*/

.formulario{
    display: flex;
    justify-content: center;
    height: 550px;
}
.formulario form{
    background-color: white;
    color: black;
    width: 600px;
    height: 500px;
    padding:15px;
    border-radius: 3%;
    border-bottom:2px solid black;
}

.formulario form input{
    border:none;
    border-bottom:3px solid black;
    width: 90%;
    height: 25px;
    margin-bottom: 5px;
}



/*ESTILO AL BOTON*/

.contenedor-boton{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.boton{
    width: 40%;
    margin-top: 10px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.boton input{
    background-color: black;
    color: white;
    font-size: 17px;
}


/*ESTILO A LA TABLA DE OPCIONES*/
.tabla-opciones table{
    width: 90%;
}